
// Shared Styling
%Column-Display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%Row-Display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  @extend %Column-Display;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}
/* Student Styling */
.app-container {
  display: flex;
  flex-direction: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 1%;
  width: 100%;
  max-height: 620px;
  overflow: scroll;
  .student-container {
    @extend %Row-Display;
    width: 170%;
    height: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    .student-pic {
      border: 1px solid rgba(0,0,0,0.4);
      flex-direction: flex-start;
      align-items: flex-start;
      border-radius: 50%;
      height: 30%;
      width: 30%;
      margin-top: 18px;
      margin-right: 60px;
      margin-left: 30px;
      margin-bottom: 18px;
    };
    .student-info-container{
      @extend %Column-Display;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 40px;
      .student-name {
        font-size: 44px;
        font-weight: bolder;
        margin-top: 14px;
      };
      .student-info {
        @extend %Column-Display;
        color: rgba(0,0,0,0.5);
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 18px;
        margin-left: 34px;
        margin-top: 14px;
      };
      .test-scores {
        @extend %Column-Display;
        color: rgba(0,0,0,0.5);
        justify-content: space-around;
        margin-bottom: 40px;
        .score {
          margin-bottom: -10px;
        }
      };
      .tags-section {
        @extend %Row-Display;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;
        .new-tag {
          @extend %Row-Display;
          width: fit-content;
          height: fit-content;
          font-size: 22px;
          font-weight: bold;
          text-align: center;
          border-radius: 4px;
          .tagalong {
            background-color: rgba(0,0,0,0.2);
            color: black;
            border: 1px solid black;
            margin-right: 10px;
            padding-right: 4px;
            padding-left: 4px;
          };
        };
      }
    };
  };
}

/* Tags Styling */

.hidden-info {
  @extend %Row-Display;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  .tags-container {
    @extend %Column-Display;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    margin-top: 20px;
    margin-top: 380px;
    margin-left: -300px;
    .inner-tag-container {
      @extend %Column-Display;
      margin-top: 40px;
      margin-bottom: 20px;
      .tags-input {
        @extend %Column-Display;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 34px;
        .btn {
          @extend %Row-Display;
          background: rgba(0,0,0,0.2);
          word-spacing: 2px;
          letter-spacing: 1px;
          border-radius: 4%;
          color: black;
          font-size: 22px;
          margin-top: 20px;
          &:hover {
            background: rgba(0,0,0,0.8);
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Search Bar Styles */

.search-container {
  @extend %Column-Display;
  justify-content: flex-start;
  align-items: flex-start;
  width: 828px;
  margin-bottom: 20px;
  .search-form {
    @extend %Column-Display;
    justify-content: space-evenly;
    height: fit-content;
    margin-left: 10px;
    font-size: 22px;
    .input-container {
      @extend %Column-Display;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 18px;
      margin-top: 14px;
    }
  }
}

/* Logo styling */
.outer-logo-container {
  @extend %Column-Display;
  width: 100%;
  height: 100%;
  margin-left: -100px;
  .logo-container {
    @extend %Column-Display;
    width: 100%;
    height: 100%;
    margin-right: 100px;
    .logo {
      height: 40px;
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}